/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 70px;
}
.banner{
    display: flex;
    justify-content: space-around;
    background: #161616;
    width: 1321px;
    border-radius: 30px;
    margin-left: 15%;
}
.banner-text{
    color: white;
    width: 531px;
}
.banner-image{
    width: 581px;
}
.banner-image img{
    width: 100%;
}
.button{
    text-decoration: none;
    color: white;
    background: #DD0000;
    border-radius: 8px;
    padding: 10px 25px;
}