/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 70px;
}
hr{
    color: 1px solid white;
    opacity: 0.5;
    width: 1550px;
}
/* header-banner */
.banner{
    display: flex;
    justify-content: space-around;
    background: #161616;
    width: 1321px;
    border-radius: 30px;
    margin-left: 15%;
}
.banner-text{
    color: white;
    width: 531px;
}
.banner-image{
    width: 581px;
}
.banner-image img{
    width: 100%;
}
.button{
    text-decoration: none;
    color: white;
    background: #DD0000;
    border-radius: 8px;
    padding: 10px 25px;
}
/* main */
.articles{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    column-gap: 24px;
}
/* aside */
.side-ber{
    background: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    display: flex;
    flex-direction: column;
}
.side-ber a{
    text-decoration: none;
    color:#161616;
    margin: 30px;
}
.page-button{
    text-align: center;
    width: 200px;
    margin: 20px 38px;
    padding: 18px;
    background: #FFFFFF;
    border-radius: 10px;
}
.selected{
    background: #DD0000;
    color: white;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    row-gap: 24px;
}
.blog{
    width: 312px;
    height: 362px;
    border-radius: 10px;
    border: 1px solid rgb(235, 235, 235);
}
.blog-detail{
    padding-left: 20px;
}
.live-button{
    padding: 4px 15px;
    margin-top: 10px;
}
.icons{
    display: flex;
}
.icon{
    margin-left: 20px;
}
/* footer */
footer{
    background: black;
    color: white;
    height: 200px;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    margin-top: 50px;
}
.footer-item{
    display: flex;
    justify-content: space-evenly;
}